body {
  padding-top: 100px;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-error hr {
  border-top-color: #e6c1c7;
}

.alert-error .alert-link {
  color: #953b39;
}

.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}

.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}


@media (max-width: 767px) {
    #layout-search {
        width: auto;
        display: block;
    }  

    #layout-search .input-group {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    #layout-search {
        width: auto;
    }  

     body {
        padding-top: 140px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    #layout-search {
        width: 200px;
    }    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #layout-search {
        width: 400px;
    }      
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: auto;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}